@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: #000;
    color: #fff;
    text-align: center;
}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    /* text-transform: uppercase; */
}
header > p {
    padding-bottom: 50px;
}
a {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}
a:hover {
    text-decoration: underline;
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
.normal {
    background-color: #fff;
    color: #000;
}
.imagem {
    background-color: rgba(0, 0, 0, 0.253);
    color: #fff;
}
section.imagem > p{
    width: 400px;
    background-color: #000;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}